In [1]:
#import the required libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt

In [ ]:
#Clean the basic info file
df=pd.read_csv('Basic_info.csv')
df.head()

,Name,Joining_Date,#Following,#Followers,#Total_tweets
0,Virat Kohli,Joined September 2009,65 Following,49.7M Followers,"2,672 Tweets"
1,Harbhajan Turbanator,Joined November 2009,213 Following,11.7M Followers,10.2K Tweets
2,BJP,Joined October 2010,3 Following,19M Followers,233.5K Tweets
3,Riteish Deshmukh,Joined July 2009,320 Following,11.3M Followers,28.8K Tweets
4,Kiran Bedi,Joined August 2009,413 Following,12.2M Followers,38.5K Tweets

In [ ]:
#Let's see the shape
df.shape

(50, 5)

In [ ]:
#Let's see the columns
df.columns

Index(['Name', 'Joining_Date', '#Following', '#Followers', '#Total_tweets'], dtype='object')

Well, the columns are self explanatory.

In [ ]:
#Let's get summary about out data
df.describe()

,Name,Joining_Date,#Following,#Followers,#Total_tweets
count,50,50,50,50,50
unique,50,30,47,46,48
top,Virat Kohli,Joined April 2010,275 Following,12.8M Followers,10.2K Tweets
freq,1,5,2,2,2

Seems like we have scrapped the data quite well and don't have any null entries

In [ ]:
#What are the types of our columns
df.dtypes

Name             object
Joining_Date     object
#Following       object
#Followers       object
#Total_tweets    object
dtype: object

### This doesn't work well for our intended analysis
We would want<br>
Name= String<br>
Joining_Date= Datetype<br>
all else = int<br>

In [ ]:
def use_strip(a):
    return a.strip('Joined')

In [ ]:
#Convert into datetime format
key='Joined'
df['Joining_Date']=df['Joining_Date'].apply(use_strip)
df['Joining_Date'] = pd.to_datetime(df['Joining_Date'])
df.head()

In [2]:
#You can clean data according to your needs

def clean_following(a):
  return a.strip('Following')

def clean_followers(a):
  return a.strip('Followers')

def clean_tweets(a):
  return a.strip('Tweets')

def clean_names(a):
  return a.strip(' Retweeted ')

In [ ]:
#Convert other columns into required format
df['#Following']=df['#Following'].apply(clean_following)
df['#Followers']=df['#Followers'].apply(clean_followers)
df['#Total_tweets']=df['#Total_tweets'].apply(clean_tweets)
df.head()

In [ ]:
df.iloc[20]

In [ ]:
#Now I need to convert these values into valid numbers
#Problem: The values are not consistent some are in thousands, ten thousands and some in millions

In [5]:
def to_number(a):
    value={'B':1,'M':1000000,'K':1000}  
    mul='B'
    a_convert=""
    a=str(a)
    for l in a:  
        if l in value:
            mul=l
        elif(l!=','):
            a_convert=a_convert+l
    
    try:
      ans=int(float(a_convert)*value[mul])
      return ans
    except:
      return 0

In [ ]:
#Convert the entries in the required format
df['#Following']=df['#Following'].apply(to_number)
df['#Followers']=df['#Followers'].apply(to_number)
df['#Total_tweets']=df['#Total_tweets'].apply(to_number)
df.head()

In [ ]:
df.head()

In [ ]:
#Let's add a sex and profession column 
#This was carried out manually
updated_list=[('Virat Kohli','imVkohli','M','Athlete'),('Harbhajan Turbanator','harbhajan_singh','M','Athlete'),
               ('BJP','BJP4India','','Political Party'),('Riteish Deshmukh','Riteishd','M','Actor'),('Kiran Bedi','thekiranbedi','F','Poltician'),
               ('Farhan Akhtar','FarOutAkhtar','M','Actor'),('Chetan Bhagat','chetan_bhagat','M','Author'),('Sushma Swaraj','SushmaSwaraj','F','Poltician'),('Sonam K Ahuja','sonamakapoor','F','Actor')
               ,('President of India','rashtrapatibhvn','','Agency'),('The Times Of India','timesofindia','','News Media'),('Yogi Adityanath','myogiadityanath','M','Poltician'),
               ('Shraddha','ShraddhaKapoor','F','Actor'),('Akhilesh Yadav','yadavakhilesh','M','Poltician'),('Ranveer Singh','RanveerOfficial','M','Actor'),('Parineeti Chopra','ParineetiChopra','F','Actor'),('Ajay Devgn','ajaydevgn','M','Actor'),
               ('BCCI','BCCI','','Agency'),('Lata Mangeshkar','mangeshkarlata','F','Musician'),('Arun Jaitley','arunjaitley','M','Poltician'),('NDTV','ndtv','','News Media'),('Shahid Kapoor','shahidkapoor','M','Actor'),
                ('Karan Johar','karanjohar','M','Actor'),('Kapil Sharma','KapilSharmaK9','M','Comedian'),('Rahul Gandhi','RahulGandhi','M','Poltician')
              ,('Anupam Kher','AnupamPKher','M','Actor'),('Suresh Raina','ImRaina','M','Athlete'),('Rohit Sharma','ImRo45','M','Athlete')
              ,('Dalai Lama','DalaiLama','M','Poltician'),('Rajnath Singh','rajnathsingh','M','Poltician'),('Alia Bhatt','aliaa08','F','Actor')
              ,('Hrithik Roshan','iHrithik','M','Actor'),('Sachin Tendulkar','sachin_rt','M','Athlete'),('Akshay Kumar','akshaykumar','M','Actor')
              ,('Shah Rukh Khan','iamsrk','M','Actor'),('Virender Sehwag','virendersehwag','M','Athlete'),('Arvind Kejriwal','ArvindKejriwal','M','Poltician')
              ,('Anushka Sharma','AnushkaSharma','F','Actor'),('A.R.Rahman','arrahman','M','Musician'),('Amit Shah','AmitShah','M','Poltician')
              ,('PRIYANKA','priyankachopra','F','Actor'),('Deepika Padukone','deepikapadukone','F','Actor')
              ,('PMO India','PMOIndia','','Agency'),('Salman Khan','BeingSalmanKhan','M','Actor'),('Amitabh Bachchan','SrBachchan','M','Actor')
              ,('Narendra Modi','narendramodi','M','Poltician'),
               ('Mahesh Babu','urstrulyMahesh','M','Actor'),('Smriti Z Irani','smritiirani','F','Poltician'),('Gautam Gambhir','GautamGambhir','M','Athlete'),('VarunDhawan','Varun_dvn','M','Actor')
              ]

print(len(updated_list))

# for t in updated_list:
#   print(t[0]," -> ",t[1],"->",t[2],"->",t[3])

In [ ]:
#A dictionary to store sex and profession of all
sp={} 

for t in updated_list:
  sp[t[0]]=(t[2],t[3])

print(sp)

In [ ]:
df=pd.read_csv('/content/Basic_cleaned.csv')
df.head()

In [ ]:
df['Sex']=""
df['Profession']=""
df.head()

In [ ]:
for i in range(df.shape[0]):
    df.loc[i,'Sex']=sp[df.loc[i,'Name']][0]
    df.loc[i,'Profession']=sp[df.loc[i,'Name']][1]

df.head()

In [ ]:
df.info()

In [ ]:
df.to_csv('Basic_updatedInfo_cleaned_',index=False)

In [ ]:
#Now we are ready to analysis on this file

## Let's clean our tweets for proper analysis

In [8]:
#Call this fuction with csv_file path and name of the file to clean the file
#You might need to personalize this function according to your needs

def clean_csv(csv_path,name):

    df=pd.read_csv(csv_path)

#     sns.heatmap(df.isnull())
#     plt.show()

    df.fillna('0',inplace=True)


    df['reply_cnt']=df['reply_cnt'].apply(to_number)
    df['retweet_cnt']=df['retweet_cnt'].apply(to_number)
    df['like_cnt']=df['like_cnt'].apply(to_number)

    df['postdate'] = pd.to_datetime(df['postdate'])
    df['date']=df['postdate'].dt.date
    df['time']=df['postdate'].dt.time

    df.to_csv('cleaned_{handle}.csv'.format(handle=name))

In [9]:
clean_csv('all_700.csv','All_700')

Below is the implementation of the clean_csv function written in parts

In [ ]:
# #We can see that their are certain null values
# #Let's see
# sns.heatmap(df.isnull())
# plt.show()

In [ ]:
# #Let's impute these with 0
# df.fillna('0',inplace=True)
# sns.heatmap(df.isnull())
# plt.show()
# print(df.info())

In [ ]:
# #Convert the entries in the required format
# df['reply_cnt']=df['reply_cnt'].apply(to_number)
# df['retweet_cnt']=df['retweet_cnt'].apply(to_number)
# df['like_cnt']=df['like_cnt'].apply(to_number)
# df.head()

In [ ]:
# #We have succesfully removed nan values
# #Now let's get our data into our required format
# df['postdate'] = pd.to_datetime(df['postdate'])
# df['date']=df['postdate'].dt.date
# df['time']=df['postdate'].dt.time
# df.head()